*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
_mac
IntelliLang.xml
inspection
debugger.xml
diff.xml
web-browser.xml
.idea/modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules.xml
